@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Amatica+SC|Zilla+Slab+Highlight');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding: 10px;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px; 
}
div {
	font-size: 16px;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
.logo {	
	text-align: center;
}
nav {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Amatica SC', bold;
	text-transform: uppercase;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
.wrapper {
	font-family: 'Josefin Sans', sans-serif;
}
#hero {	
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.15)),url(images/kids.jpg);
    background-position: center;
	font-family: 'Amatica SC', bold;
	font-size: 2em;
	height: 35vw;
	position: relative;
	background-size: 100% auto;
}
#hero h3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

h1, h3, h4 {
	color: #FFFFFF;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
p {
	color: initial;
	font-size: 16px;
}
ul {
	padding: 10px
}
#products figure {
width: 20%; 
float: left;
height: 0;
padding-bottom: 18.25%;
overflow: hidden;
text-align: center;
}
#products img{
	display: block;
	width: 100%;
}
.clearfix:after {
	display: block;
	clear: both;
	content: "";
}
a {
	margin: 0 auto;
}
footer {
	text-align: center;
	padding: 1em 0;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
}